{% extends "blog/base.html" %}
{% block title %}
<title>About - Practicality Beats Purity</title>
{% endblock title %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-10 mx-auto">
			<article class="mt-4 mb-4">
				<div class="row">
					<div class="col-lg">
						<div class="card">
							<div class="card-body">
								<h1 class="card-title">About</h1>
								<hr />
								<p class="card-text">
									My name is David Chatelain, and I created this blog to share my thoughts, methods, and experiences in programming.
									As my experience has primarily been focused on web development using Python (Django), this blog is largely focuses on topics related to Python and Django.
								</p>
								<p class="card-text">
									Yet, as a former university educator (though not in computer science!), I also wish to make this blog a useful resource for academics and anyone who may be considering a career transition into programming.
									The job market is difficult these days, but programming is an excellent field to break into.
								</p>
								<p class="card-text">
									Why <em>Practicality Beats Purity</em>? The name of this blog is actually a reference to <em>The Zen of Python</em>, a series of guiding principles for writing Python.
								</p>
								<pre class="card-text">
The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although <strong><em>practicality beats purity</em></strong>.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!
								</pre>
								<p class="card-text">
									Whether it is writing Python, writing in any other programming language, or any other endeavor in life, practicality always beats purity.
									Life, and programming, are all about challenges and finding practical solutions to those challenges.
									Purity, i.e. following the rulebook, can never solve all your problems for you.
									Practicality is all about following the rules until they fail you, then finding creative solutions beyond what you've been taught.
									I hope this blog proves a practical resource for you.
								</p>
								<br />
								<p class="card-text">
									--David Chatelain--
								</p>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>
<br />
<br />
{% endblock content %}