{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
<title>Leave a Comment - Practicality Beats Purity</title>
{% endblock title %}

{% block content %}
<div class="container">
	<div class="row mt-4">
		<div class="col-lg-8 mx-auto">
			<div class="content-section">
				<form method="POST">
					{% csrf_token %}
					<fieldset class="form-group">
						<legend class="border-bottom mb-4">Comment</legend>
						{{ form.media }}
						{{ form|crispy }}
					</fieldset>
					<div class="form-group">
						<button class="btn btn-outline-red" type="submit">Post comment</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}